.home-img{
  width:100%;
    position:fixed;
     height: 100%;
   z-index:-10;
 filter:brightness(50%);
 top:0px;
 display:none;
 }

*{
 margin:0px;
 padding:0px;
 font-family: 'Raleway', sans-serif;
 scroll-behavior: smooth;

}


#menu-bar{
display:flex;
 flex-direction:column; 
 z-index:1;
 position:absolute;
 background-color:white;
 height:400px;
 transition: all 0.4s ease;
 top:0px;
width:260px;
 align-items:center;
 gap:40px;

}

.nav-head{
 margin-top:10px;
 font-size:23px;
}



.menu-btns{
 display:flex;
 justify-content:end;
 position:relative;
 margin-right:20px;
 top:10px
}


.slide{
 left:-100%;
}

.hide{
 visibility:hidden;
}

.open{
 position:absolute;
}




.nav-link{
 margin:40px;
 font-weight:400;
  font-family: 'Raleway', sans-serif;
 text-align:center;
 position:relative;
 top:-30px;
 
}

.nav-social i{
 font-size:20px;
 text-align:center;
  position:relative;
 top:-60px;
}

a{
 text-decoration:none;
 color:green;
}



.large-screen-img{
 display:none;
 position:absolute;
}

.img-link{
width: 10%;
height:auto;
}


.works img:hover{
  transform:scale(1.1)
 }
 

/*font-family: 'Edu VIC WA NT Beginner', cursive;*/

 .images{
 width:130px;
 height:190px;
 border:2px solid rgba(172, 255, 47, 0.961);
 }
 
 .mother-container{
  z-index:-10;
    margin-top:390px;
 }

 .personal-info{
color:white;
    font-family:system-ui;
  padding:15px;
  margin-top:-25px;
  background-color:rgba(0, 0, 0, 0.057);
    
 }
 
 .personal-info:hover{
  color:yellowgreen;
  cursor: pointer;
 }


 .name{
font-size:40px;
    font-weight:300;
 }

 .title{
font-size:15px;
  font-weight:300;
 }

 .social{
  display:flex;
  gap:18px;
  margin-top:15px;
 }

 .awards{
margin-top:17px;
  background-color:rgba(172, 255, 47, 0.389);
  display:grid;
  justify-content:center;
  align-items:center;
    height:520px;
    column-gap:-20px;
 }


.award-img{
 width:250px;
 height:220px;
  border:2px solid yellow;
}

 .works{
margin-top:20px;
    display:grid;
    grid-template-columns: repeat(2,130px);
    justify-content:center;
    align-items:center;
    gap:12px;
 }


.scroll-top{
 position:fixed;
 bottom:30px;
 display:flex;
 justify-content:end;
 margin-right:30px;
 font-weight:bold;
 color:white;
 cursor: pointer;
}
 
.foot-note{
 background-color:rgba(0, 0, 0, 0.321);
 height:70px;
 margin-top:30px;
 color:yellowgreen;
 text-align:center;
}

