

@media (min-width: 496px) {

    .personal-info{
        position:relative;
        margin-top:3px;
      top:20px;
       }
      
    }
    
    
    @media (min-width: 768px) {
    
        .works{
      margin-top:20px;
           display:grid;
           grid-template-columns: repeat(4,130px);
        }
      
      
          .awards{
      margin-top:44px;
         background-color:rgba(172, 255, 47, 0.389);
         display:flex;
      height:200px;
           column-gap:20px;
          }
      
      .award-img{
        width:190px;
        height:150px;
      }
      
      
       .personal-info{
        position:relative;
         top:20px;
       }
      
       #unique-img{
         margin-left:142px;
       } 
      
            
      }


 @media (min-width: 1024px) {
    
     .works{
      margin-top:20px;
           display:grid;
           grid-template-columns: repeat(5,130px);
        }
      
     .personal-info{
        position:relative;
         top:-405px;
         margin-left:60px;
       }
      
    }

 @media (min-width: 1321px) {
 .works{
      margin-top:20px;
           display:grid;
           grid-template-columns: repeat(6,130px);
        }
     
        .awards{
            margin-top:115px;}

   .personal-info{
        position:relative;
         top:-400px;
         margin-left:90px;
       }
      

 }




 @media (min-width: 1440px) {
 .works{
      margin-top:20px;
           display:grid;
           grid-template-columns: repeat(7,130px);
        }
     
 }